
h1{
    align-content: center;
color:darkslategrey;
font-size:400%;
font-style: italic;
font-family: 'Staatliches', cursive;}
body {
    background-image:url(https://stmed.net/sites/default/files/sherlock-wallpapers-31661-8507414.jpg); 
    background-repeat:no-repeat;
    background-size:100rem 200rem;
}



